@charset "utf-8";

body.dark {
	background-color: #000;
	color: #bbb;
	transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

body.dark ::-webkit-input-placeholder {
	color: #fff;
}
body.dark :-moz-placeholder {
	color: #fff;
	opacity:  1;
}
body.dark ::-moz-placeholder {
	color: #fff;
	opacity:  1;
}
body.dark :-ms-input-placeholder {
	color: #fff;
}
body.dark ::-ms-input-placeholder {
	color: #fff;
}
body.dark ::placeholder {
	color: #fff;
}

body.dark h3 {
	color: #fff;
}

body.dark .grax_tm_topbar .logo .dark { display: none; }
body.dark .grax_tm_topbar .logo .light { display: block; }
body.dark .grax_tm_topbar.animate {
	background-color: #000;
	box-shadow: 0px 0px 10px rgb(255 255 255 / 10%);
}

body.dark .grax_tm_topbar .menu ul li a {
	color: #fff;
}

body.dark .grax_tm_about {
	background-color: transparent;
}

body.dark .grax_tm_about .right .list ul li span,
body.dark .grax_tm_about .right .list ul li .svg {
	color: #fff;
}

body.dark .grax_tm_button a:hover {
	color: #fff;
}

body.dark .grax_tm_about .left .main {
	box-shadow: none;
}

body.dark .grax_tm_portfolio,
body.dark .overlay_effect:after,
body.dark .grax_tm_portfolio .overlay,
body.dark .grax_tm_news {
	background-color: #111;
}

body.dark .grax_tm_news .news_list ul li .details .title a,
body.dark .grax_tm_news .news_list ul li .details .date a {
	color: #fff;
}

body.dark .grax_tm_news .news_list ul li .details .date {
	color: #bbb;
}

body.dark .grax_tm_modalbox_news .details .title {
	color: #000;
}

body.dark .grax_tm_modalbox_news .description p {
	color: #767676;
}

body.dark .grax_tm_contact .fields ul li input,
body.dark .grax_tm_contact .fields .last textarea {
	border: 1px solid rgba(255,255,255,.2);
	background-color: transparent;
	color: #fff;
}

body.dark .grax_tm_contact .info_list ul li span,
body.dark .grax_tm_contact .info_list ul li .svg {
	color: #fff;
}

body.dark .grax_tm_contact .info_list ul li a:hover {
	color: #1e90ff !important; /* Cor de destaque ao passar o mouse */
}

body.dark .grax_tm_copyright {
	background-color: #111;
	padding-top: 30px; /* Ajuste no padding para ser mais compacto */
}

body.dark .my_wave {
	display: none; /* Mantendo a onda desativada */
}

body.dark .progress_inner .background {
	background: rgba(255,255,255,.09);
}

body.dark .progress_inner > span {
	color: #fff;
}
